Node-Red Flow.json
[{"id":"ee6f3f0b.e8791","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"395a6fc7.91552","type":"ui_form","z":"ee6f3f0b.e8791","name":"","label":"","group":"3eb19945.936bc6","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatatis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":60,"wires":[["a73c7b0.43a1f88"]]},{"id":"a73c7b0.43a1f88","type":"function","z":"ee6f3f0b.e8791","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"MV0GvoB4cVW-9HVnIz-Qj5uIhYEKPf3GttL8LOTOY-kK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":140,"wires":[["5f9821e8.8ee74"]]},{"id":"daa26bd3.3d11e8","type":"http request","z":"ee6f3f0b.e8791","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d2e28a9d-4743-4171-bf37-3bf3d7962021/deployments/9e0d211a-76c2-4cf2-a44c-1a1b0cdf2eb8/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":260,"wires":[["a25b52b5.de4fb","a2f6ea44.cfaaf8"]]},{"id":"5a6d9116.1e3cd","type":"debug","z":"ee6f3f0b.e8791","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":260,"wires":[]},{"id":"a2f6ea44.cfaaf8","type":"function","z":"ee6f3f0b.e8791","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["5a6d9116.1e3cd","55b369b.2569498"]]},{"id":"a25b52b5.de4fb","type":"debug","z":"ee6f3f0b.e8791","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":160,"wires":[]},{"id":"224d7446.9f4c1c","type":"function","z":"ee6f3f0b.e8791","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"d2e28a9d-4743-4171-bf37-3bf3d7962021\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Adult Mortality\",\"Infant Deaths\",\"Alcohol\",\n\"Percentage Expenditure\",\"Hepatatis B\",\"Measles\",\n\"BMI\",\"under-five deaths\",\"Polio\",\"Total Expenditure\",\n\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\n\"Thinness  1-19 years\",\"Thinness 5-9 years\",\n\"Income composition of resources\",\"Schooling\"],\n\"values\":[[d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":300,"wires":[["daa26bd3.3d11e8"]]},{"id":"5f9821e8.8ee74","type":"http request","z":"ee6f3f0b.e8791","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":140,"wires":[["224d7446.9f4c1c"]]},{"id":"55b369b.2569498","type":"ui_text","z":"ee6f3f0b.e8791","group":"3eb19945.936bc6","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":440,"wires":[]},{"id":"3eb19945.936bc6","type":"ui_group","z":"","name":"Machine Learning Model","tab":"e48ecc68.bb75b","order":1,"disp":true,"width":"6","collapse":true},{"id":"e48ecc68.bb75b","type":"ui_tab","z":"","name":"Welcome","icon":"dashboard","disabled":false,"hidden":false}]